<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyrric.mapper.LeaderMapper">
  <resultMap id="listResultMap" type="com.github.lyrric.model.vo.LeaderTaskListVO">
      <result property="id" column="id" jdbcType="INTEGER" />
      <result property="studentId" column="student_id"  />
      <result property="studentName" column="student_name" />
      <result property="startTime" column="start_time" />
      <result property="day" column="day"  />
      <result property="createdTime" column="created_time"/>
      <result property="status" column="status" />
  </resultMap>
  <select id="list" resultMap="listResultMap">
   SELECT
            st.id,
            st.student_id,
            st.student_name,
            st.start_time,
            st. DAY,
            st.created_time,

            IF (
                ht.END_TIME_ IS NULL,
                '未审批',
                '已审批'
            ) AS STATUS
        FROM
            sys_task st
        LEFT JOIN act_hi_procinst hp  ON hp.PROC_INST_ID_ = st.pro_inst_id
        LEFT JOIN act_hi_taskinst ht ON ht.PROC_INST_ID_ = st.pro_inst_id
        WHERE st.pro_inst_id = hp.PROC_INST_ID_
        AND ht.NAME_ = '教务处'
        AND st.pro_inst_id IN (
            SELECT DISTINCT
                (ht.PROC_INST_ID_)
            FROM
                act_hi_taskinst ht
            LEFT JOIN act_hi_varinst hv ON ht.PROC_INST_ID_ = hv.PROC_INST_ID_
            WHERE
                (
                    hv.NAME_ = 'leaderId'
                    AND hv.LONG_ = #{leaderId}
                )
            OR ht.NAME_ = '教务处'
        )
        ORDER BY st.id DESC
  </select>
</mapper>