<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lyrric.mapper.TeacherMapper">
  <resultMap id="listResultMap" type="com.github.lyrric.model.vo.TeacherTaskListVO">
      <result property="id" column="id" jdbcType="INTEGER" />
      <result property="studentId" column="student_id"  />
      <result property="studentName" column="student_name" />
      <result property="startTime" column="start_time" />
      <result property="day" column="day"  />
      <result property="createdTime" column="created_time"/>
      <result property="status" column="status" />
  </resultMap>
  <select id="list" resultMap="listResultMap">
     select st.id, st.student_id , st.student_name , st.start_time , st.day, st.created_time , if(hp.END_TIME_ is null, '未审批', '已审批') as status
    from sys_task st
    LEFT JOIN act_hi_procinst hp on st.pro_inst_id = hp.PROC_INST_ID_
    LEFT JOIN act_ru_task rt on st.pro_inst_id = rt.PROC_INST_ID_
    LEFT JOIN act_hi_varinst hv on st.pro_inst_id = hv.PROC_INST_ID_
    WHERE (hv.NAME_ = 'teacherId' and hv.LONG_ = #{teacherId}) or rt.NAME_ = '班主任'
    order by st.id desc
  </select>
</mapper>